html, body{
    max-width: 100vw;
    overflow-x: hidden;
    background-image: url(../img/BackgroundDust.png);
    background-color: #070012;
    background-size: cover;
    background-repeat: no-repeat;
    color: peachpuff;
}

.base{
    max-width: 100vw;
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #13022D;
    color: peachpuff;
}

header{
    position: fixed;
    width: 100vw;
    height: 7%;
    opacity: 1;
    backdrop-filter: blur(5px);
    background-color: rgba(24, 3, 46, 0.33);
    z-index: 11;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 0.65rem;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color:peachpuff;
}

.home{
    width: 75%;
    font-family: 'Playfair Display', serif !important;
    font-size: 1.25em;
    position: relative;
    vertical-align: baseline;
    text-shadow: 0px 0px 5px #070012;
}

/* ----------- CSS for Mobile Side Nav Menu ------------- */
.mobileMenuOpen{
    color: white;
}

.mobileMenuOpen:hover {
    color:peachpuff;
}

#sideMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    margin-top: 0px;
    transform: translateX(250px);
    transition: transform 250ms ease-in-out;
    background: #070012;
    z-index: 1;
}

.sideMenuInner {
    font-family: 'Playfair Display', serif !important; 
    margin: 40px 0 0 0;
    padding: 0;
}

.sideMenuInner li {
    list-style: none;
    color: #fff;
    font-size: 1.25em;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}

.sideMenuInner li span {
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}

.sideMenuInner li a {
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.sideMenuInner li a:hover{
    color: peachpuff;
}

input[type="checkbox"]:checked~#sideMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sideIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 34%;
    right: 9%;
    height: 22px;
    width: 22px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

input[type=checkbox]:checked~.sideIconToggle>.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked~.sideIconToggle>.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked~.sideIconToggle>.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
    z-index: 1;
}


/* ---------------------- Nav Bar CSS ----------------- */
.navGroup{
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navLink{
    font-size: 1.25em;
    display: inline;
    margin-left: 1rem;
    font-family: 'Playfair Display', serif !important; 
    text-shadow: 0px 0px 5px #070012;
}

/* ----------------- Large Header Image & Text CSS ---------------------- */
.hero{
    display: flex;
    align-items: flex-end;
    top: 0px;
    margin: 0px;
    padding: 0px;
    height: 77vh;
    background-image: url(../img/OrangePalms.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 30%;
    background-position-y: bottom;
    font-family: 'Playfair Display', serif;
}

.heroText{
    padding: 290px 0px 130px 8%;
    text-shadow: 0px 0px 15px #070012;
}

.headerSmall{
    margin: 0px;
    font-size: 5.5vw;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.headerLarge{
    margin: 0px;
    font-size: 13.5vw;
    font-family: 'Playfair Display', serif;
    color: white;
}

.sectionHead{
    color: white;
    font-size: 15vw;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.sectionHeadB{
    color: white;
    font-family: 'Playfair Display', serif;
}

.projectLayout{
    flex-direction: column-reverse;
}

#AlienInvasionImg{
    background-image: url(../img/Alien_Invasion.png);
    background-size: cover;
    background-position: center;
}

#todoListImg{
    background-image: url(../img/todoListMockup.png);
    background-size: cover;
    background-position: center;
}

#zodiacImg{
    background-image: url(../img/zodiac.jpg);
    background-size: cover;
    background-position: center;
}

#cookbookImg{
    background-image: url(../img/CookMark.png);
    background-size: cover;
    background-position: center;
}

#pythonCollectionImg{
    background-image: url(../img/pythonProgramCollectionMockup.jpg);
    background-size: cover;
    background-position: center;
}

#tmProjectImg{
    background-image: url(../img/TM_MockupLarge.jpg);
    background-size: cover;
    background-position: center;
}

#etchSketchImg{
    background-image: url(../img/etch_a_sketch.png);
    background-size: cover;
    background-position: center;
}

#calcImg{
    background-image: url(../img/calculator.png);
    background-size: cover;
    background-position: center;
}

#libraryImg{
    background-image: url(../img/library_app.png);
    background-size: cover;
    background-position: center;
}

#greenTechImg{
    background-image: url(../img/greenTech_Innovations.png);
    background-size: cover;
    background-position: center;
}

.accordion{
    --mdb-accordion-active-color:peachpuff;
}

.accordion-item{
    border-color: peachpuff;
}

.accordion-button{
    background-color: #070012 !important; 
    font-family: 'Playfair Display', serif !important; 
    font-size: 6vw !important;
    color: white;
}

.accordion-body{
    background-color: #13022D;
    color: white;
}

#personalPhoto{
    background-image: url(../img/Brian_Headshot2.jpg);
    height: 75vw;
    width: 375px;
    margin-bottom: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.modal-title{
    font-family: 'Playfair Display', serif !important;
    color: white;
    font-size: 1.75em;
}

#largeBio{
    display: none;
}

#contact p{
    font-size: 5.5vw;
}

#contact p b{
    font-size: 6.75vw;
}

footer{
    font-family: 'Playfair Display', serif;
    background: #070012;
    margin-top: 5vh;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.designProjectItem{
    border: 1px solid peachpuff;
    border-radius: 10px;
}


@media screen and (min-width: 768px) {

    .btn:hover{
        color: peachpuff;
    }

    .btn-outline-light:hover{
        color:peachpuff
    }

    .heroText{
        padding: 290px 0px 100px 12.5%;
    }

    .headerSmall{
        font-size: 2.5vw;
    }
    
    .headerLarge{
        font-size: 6.05vw;
    }

    .sectionHead{
        font-size: 8vw;
    }

    .sectionHeadB{
        font-size: 4.25vw;
    }

    .project{
        min-height: 60vh;
    }

    .projectLayout{
        flex-direction: column-reverse;
    }

    #mobileImg{
        visibility: hidden;
    }

    .accordion-button{
        font-size: 3.75vw !important;
    }

    .accordion-body h5{
        font-size: 3vw;
    }

    .accordion-body p{
        font-size: 2.5vw;
    }

    .accordion-body ul{
        font-size: 2.5vw;
    }

    #bioPhoto{
        display: none;
    }

    #largeBio{
        display: initial;
    }

    #largeBioPic{
        background-image: url(../img/Brian_Headshot.jpg);
        background-position-y: 70%;
        background-position-x: center;
        background-size: 200%;
        background-repeat: no-repeat;
    }

    #contact p{
        font-size: 2vw;
    }
    
    #contact p b{
        font-size: 3vw;
    }

    .buttonText{
        font-size: 2.25vw;
    }
    
}

@media screen and (min-width:1024px) {
    .hero{
        height: 100vh;
    }

    .heroText{
        padding: 290px 0px 120px 12.5%;
    }

    .sectionHead{
        font-size: 5vw;
    }

    .sectionHeadB{
        font-size: 3vw;
    }

    .accordion-button{
        font-size: 2.5vw !important;
    }

    .accordion-body h5{
        font-size: 2vw;
    }

    .accordion-body p{
        font-size: 1.75vw;
    }

    .accordion-body ul{
        font-size: 1.75vw;
    }

    #largeBioPic{
        background-position-y: 45%;
        background-size: 175%;
    }

    #largeBio p{
        font-size: 1.15em;
    }

    #contact p{
        font-size: 1.5vw;
    }
    
    #contact p b{
        font-size: 2vw;
    }

    .buttonText{
        font-size: 1.75vw;
    }

    .projectLayout{
        flex-direction: initial;
    }
 
}